<div class="row-fluid">
    <div class="block" style="height: 300px;">
        <div class="centered">
            <h1 class="text-center">G  E  T  E  O  N</h1>
            <form role="search" id="searchForm">
                <div class="input-group">
                    <input type="text" class="form-control" id="search_input" autofocus>
                    <span class="input-group-btn">
                        <button id="searchbot" class="btn btn-default home_search_button" type="button">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                </div><!-- /input-group -->
            </form>
        </div>
    </div>
</div>
