<div class="col-lg-3"></div>
<div class="col-lg-6">
        <form role="search" id="searchForm">
    <div class="input-group centering">
        <input type="text" class="form-control" id="search_input">
        <span class="input-group-btn">
            <button class="btn btn-default home_search_button" type="button">Go!</button>
        </span>
    </div><!-- /input-group -->
</form>
</div><!-- /.col-lg-6 -->
<div class="col-lg-3"></div>

