<div id="logout-container" class="row">
    <div class="span12">
        <div class="modal-header">
            <h3>Logout</h3>
        </div>
        <div class="modal-body">
            <div class="well">
                <form id="tab" role="form">
                    <div class="form-group">
                        <button class="btn btn-primary" id="logout-user">Logout</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
