<span id="tooltip-note-add" href="" class="btn btn-xs btn-hover"><span class="glyphicon glyphicon-tag"></span></span>

<div id="note-tooltip-editor" >
    <textarea class="form-control" rows="3"></textarea>
</div>
