<div id="article-notes-list" > </div>

<div id="tooltip-note-editor" >
    <textarea class="form-control" rows="3"></textarea>
</div>

<div class="btn-group btn-group-xs">
    <span id="tooltip-note-add" href="" type="button" class="btn btn-hover">
        <span class="glyphicon glyphicon-tag"></span>
        </span>
    <span id="tooltip-note-save" href="" type="button" class="btn btn-hover">
        <span class="glyphicon glyphicon-floppy-disk"></span>
    </span>
</div>
