$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

/* doart3 css */
.home_search_button {
    height: 34px;
}

body {
    padding-top: 70px;
}

#news-list-container {
    padding-bottom: 100px;
}

#graph-container {
    background: #ffffff;
    z-index: 10;
}

#flot-canvas {
    height: 100px;
}

@media ( max-width : 767px) {
    .navbar-fixed-top {
        position: relative;
        top: auto;
    }
    .navbar-collapse {
        max-height: none;
    }
    body {
        margin: 0;
        padding-top: 0px;
    }
}
